<header class="container">
    <div class="header-menu">
        <div class="logo"><img src="/assets/logo.svg" alt="logo"></div>
        <ul>
            <li><a href="#!">About us</a></li>
            <li><a href="#!">Our Class</a></li>
            <li><a href="#!">Blog</a></li>
            <li><a href="#!">Contact</a></li>
        </ul>
    </div>

    <div class="header-row">
        <img [src]="srcHeaderImg">
        <div class="header-row-title">
            <div class="designation">
                <div class="line"></div>
                <h3>About Us</h3>
            </div>
            <h1>E-Learning Platform for Digital Skills</h1>
            <p>Empower yourself with the knowledge and skills gained through online education! The key to your future! Empower yourself with the knowledge and skills gained through online education! The key to your future!</p>
            <a class="buttonImitate" href="#!">Learn more <img src="/assets/arrow_white.svg"></a>
        </div>
    </div>
</header>