<footer>
    <div class="container footer">
        <div class="info">
            <img src="/assets/footer_logo.svg">
            <p>Unlock Digital Mastery Effortlessly! <br> Explore and enhance your skills <br> with our user-friendly
                platform.</p>
        </div>
        <div class="item">
            <h1>Quick links</h1>
            <div class="links-list">
                <a href="#!">About us</a>
                <a href="#!">Our Class</a>
                <a href="#!">Blog</a>
                <a href="#!">Contact</a>
            </div>
        </div>
        <div class="item">
            <h1>Resources</h1>
            <div class="links-list">
                <a href="#!">Support</a>
                <a href="#!">Privacy policy</a>
                <a href="#!">Terms & Conditions</a>
            </div>
        </div>
        <div class="item">
            <h1>Resources</h1>
            <div class="social-list">
                <a href="#!"><img src="/assets/socialMedia/Vector.svg" alt=""></a>
                <a href="#!"><img src="/assets/socialMedia/Vector-1.svg" alt=""></a>
                <a href="#!"><img src="/assets/socialMedia/Vector-2.svg" alt=""></a>
                <a href="#!"><img src="/assets/socialMedia/Vector-3.svg" alt=""></a>
                <a href="#!"><img src="/assets/socialMedia/Vector-4.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>